a.ttdb__button_feed > div > svg,
a.ttdb__button_swiper_slide > div > svg
{
    transition: background-color 0.5s, color 0.5s, opacity 1s;
}

a.ttdb__button_feed,
a.ttdb__button_swiper_slide,
a.ttdb__button_grid
{
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0;
    outline: none;

    transition: background-color 0.5s, color 0.5s, opacity 1s;
}

a.ttdb__button_browser
{
    padding: 4px 8px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 4px;
    text-align: center;
    display: block;
    font-size: 14px;
}

a.ttdb__button_browser[ttdb_mode="__NEXT"]
{
    margin-bottom: 10px!important;
    margin-top: -12px!important;
    padding: 4px 8px 6px 8px!important;
}

a.ttdb__button_browser[ttdb_mode="APP"]
{
    margin: 10px 0px 10px 0px!important;
}

a.ttdb__button_feed,
a.ttdb__button_swiper_slide
{
    text-align: center;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 100%;
    font-size: 1.5em;
}

a.ttdb__button_swiper_slide
{
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
}

a.ttdb__button_feed
{
    padding: 0;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

a.ttdb__button_grid
{
	position: absolute;
	z-index: 1;
	top: 4px;
	right: 4px;
	background-color: rgba(19, 19, 19, 0.2);
	border-radius: 4px;
	color: rgb(255, 255, 255, 0.75);
}

a.ttdb__button_grid > span
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 24px;
    line-height: 24px;
    width: 18px;
}

a.ttdb__button_feed > div
{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.ttdb__button_feed > div > svg
{
    fill: currentColor;
    width: 55%;
    margin-left: 1px;
    margin-top: -1px;
}

a.ttdb__button_swiper_slide > div
{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.ttdb__button_swiper_slide > div > svg
{
    fill: currentColor;
    width: 55%;
    margin-left: 1px;
    margin-top: -1px;
}

a.ttdb__button_grid > span::after
{
    content: '\01F853';
    font-size: 16px!important;
}

a.ttdb__button_browser:hover
{
    background-color: #e7e7e8;
    color: #fe4569!important;
	text-decoration: none;
}

a.ttdb__button_feed:hover > div > svg,
a.ttdb__button_swiper_slide:hover > div > svg
{
    color: #fe4569!important;
}

a.ttdb__button_grid:hover
{
	background-color: rgba(19, 19, 19, 0.5);
	color: rgb(255, 255, 255, 1);
	text-decoration: none;
}