$light-theme-roots: (
    'html:not([data-theme])',
    'html:not([data-theme="dark"])',
    'html[data-theme="light"]'
);

@mixin ttdb-light-theme {
    @each $root in $light-theme-roots {
        #{$root} {
            @content;
        }
    }
}

@include ttdb-light-theme {
    body > div.ttdb_downloading-active > div.item {
        color: #fff;
    }

    a.ttdb__button_feed {
        background-color: rgb(0 0 0 / 10%);
        color: #000;

        svg {
            color: #161823;
        }

        &:hover > div > svg {
            color: #fe2c55 !important;
        }
    }

    a.ttdb__button_browser {
        background-color: #f1f1f2;
        color: #000;
    }
}

html[data-theme='dark'] {
    a.ttdb__button_feed {
        background-color: rgb(255 255 255 / 10%);
        color: #fff;

        svg {
            color: #fff;
        }
    }

    a.ttdb__button_browser {
        background-color: rgb(41, 41, 41);
        color: #fff;
    }
}
